body {
	margin-right: 200px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Venturis Sans, Open Sans, sans-serif;
}

h1, h2, h3, h4 {
	color: #555753;
	font-weight: normal;
}

h1 {
	margin-top: 0px;
	padding-top: 20px;
	margin-left: -20px;
	text-align: right;
	min-height: 68px;
	color: transparent;
}

h1 img {
	float: left;
}

/* Date header */

.daygroup > h2 {
	font-size: 18px;
	margin-left: -20px;
}

/* Author header */

.channelgroup > h3 {
	border-bottom: 1px solid #b0da86;
	margin-top: 10px;
	margin-bottom: 10px;
}

.channelgroup h3 a {
	color: inherit;
}

/* Article header */

.entrygroup > h4 {
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.entrygroup > h4 a {
	color: inherit;
}

code, pre {
	padding: 2px 4px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 1px;
	overflow: auto;
}

a {
	color: #4e9a06;
	text-decoration: none;
}

.channelgroup h3 a:hover,
.entrygroup > h4 a:hover,
.sidebar ul li a:hover,
a:hover {
	color: #005580;
	text-decoration: underline;
}

a:visited {
}

img.face {
	float: right;
	margin-top: -3em;
}

.entry {
	margin-bottom: 2em;
}

.entry h2 {
	font-size: 24px;
}

.entry h3 {
	font-size: 20px;
}

.entry h4 {
	font-size: 18px;
}

.entry .date {
	color: grey;
}

.entry .date a {
	color: inherit;
}


/* Sidebar */

.sidebar {
	position: absolute;
	top: 88px;
	right: 0px;
	width: 200px;

	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;

	padding-top: 20px;
	padding-left: 0px;

	font-size: 85%;
}

.sidebar h2 {
	font-size: 110%;
	font-weight: bold;
	color: black;

	padding-left: 5px;
	margin-left: 0px;
}

.sidebar ul {
	padding-left: 1em;
	margin-left: 0px;

	list-style-type: none;
}

.sidebar .message {
    cursor: help;
    border-bottom: 1px dashed #A94442;
}

.sidebar ul li a img {
	border: 0;
}

.sidebar p {
	padding-left: 5px;
}
